@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.home{
    background-image: url('https://cdn2.vectorstock.com/i/1000x1000/79/06/quote-blank-template-quote-rectangle-vector-17647906.jpg');
    background-size: cover;
    height: 80vh;
  }

  .unique{
    text-align: center;
    margin-top: 20%;
    color: crimson;
    font-family: 'Creepster', cursive;
    font-size: xx-large;
  }